* {
box-sizing: border-box;

}

body {
background-color: rgba(224, 255, 255, 0.3);

}

img {
	width: 300px;
}

.position {
	width: 807px;
	height: 402px;
	border: 1px solid grey;
	background-color: white;
}

.product_card {
	margin-top: 51px;
	margin-bottom: 51px;
	margin-left: 38px;
	display: inline-block;
}

.description	{
	width: 192px;
	vertical-align: top;
	margin-top: 45px;
	margin-left: 79px;
	display: inline-block;
}

.name {
	font-family: "Arial - Bold MT";
	color: #2f2f2f;
}

.parameters {
	vertical-align: top;
	width: 360px;
	height: 60px;
	font-family: "Arial MT";
	font-size: 14px;
	font-weight: 200px;
	display: inline-block;
}

.price {
	margin-top: 10px;

}


.rub {
	font-size: 24px;
margin-top: 10px;

}

.button {
	width: 200px;
	height: 40px;
	color: white;
	background-color: #ec744a;
	font-size: 15px;
	border: 0px;

}

.buttonText {
	display: block;
	padding-top: 1px;

}