* {
	box-sizing: border-box;

}


.clients {
	width: 1140px;
	height: 1366px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-family: Tahoma;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 69px;
	margin-top: 89px;
}

.photo {
	width: 1140px;
	height: 2070px;
	margin-left: auto;
	margin-right: auto;
}

.photo__cards {
	display: inline-block;
	min-width: 20%;
	margin-bottom: 40px;
	margin-right: 21px;

}	